#bigdiv {
    border: 3px solid black;
    /*height: 800px;*/
    display: flex;
   text-align: center;
    justify-content:center;
}
#div1 {
    background-color: darkgray;
    height: 100px;
    width: 100px;
    margin: 10px;
    /*flex-grow: 1;*/
}
#div2 {
    background-color: darkgray;
    height: 100px;
    width: 100px;
    margin: 15px;
    /*flex-shrink: 1;*/
}
#div3 {
    background-color: darkgray;
    height: 100px;
    width: 100px;
    margin: 15px;
    /*flex-grow: 1;*/
}




